<div class="col-lg-4 col-lg-offset-4">
  <h4>Sign Up</h4>
  <hr />

  <% if !@user.blank? && @user.errors.any? %>
    <%= render partial: 'alerts/form_errors', locals: {set: @user} %>
  <% elsif !notice.blank? %>
    <%= render partial: 'alerts/basic', locals: {flash: flash} %>
  <% end %>

  <%= form_tag '/access/sign_up', method: 'post' do %>
      <div class="form-group">
        <%= text_field_tag 'user[fullname]', nil, placeholder: 'Name', class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= text_field_tag 'user[email]', nil, placeholder: 'Email', class: 'form-control', type: :email %>
      </div>

      <div class="form-group">
        <%= password_field_tag 'user[password]', nil, placeholder: 'Password', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= password_field_tag 'user[password_confirm]', nil, placeholder: 'Verify your password', class: 'form-control' %>
      </div>

      <div class="btn-group pull-right" role="group">
        <%= button_tag 'Create an account', type: 'submit', class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>