<html>
<body>
<p>Hi there!</p>

<p>You have a new response to your ticket: <strong><%= @ticket.subject %></strong></p>

<blockquote><%= @message.content %></blockquote>

<p><%= link_to 'Go here', @ticket_url %> to reply to the ticket. You must have an account with us to do so. <%= link_to 'Sign up here', @sign_up_url %>.</p>

<p><%= link_to 'Start a live chat here', @chat_url %>. Your live chat authentication code is <strong><%= @auth %></strong>.
</body>
</html>
