<html>
<body>
<p>You have a new response to your ticket: <strong><%= @ticket.subject %></strong></p>

<blockquote><%= @message.content %></blockquote>

<p>You can reply to it and find the full ticket history in the following link: <a href="<%= @ticket_url %>"><%= @ticket_url%></a></p>

<p>To start a live chat, click on the following link: <a href="<%= @chat_url %>"><%= @chat_url %></a>. Use auth code <strong><%=  @auth %></strong></p>
</body>
</html>
