<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
        <%= f.label :subject %><br>
        <%= f.text_area :subject, {:class => 'form-control'} %>
    </div>
    <div class="form-group">
        <%= f.label :content %><br>
        <%= f.text_area :content, {:class => 'form-control'}%>
    </div>

    <% unless action_name == 'edit'%>
        <% f.hidden_field :user_id, {:class => 'form-control', value: session[:id]} %>
    <% end %>

    <div class="actions">
      <%= f.submit({:class => 'btn btn-primary'}) %>
    </div>

<% end %>
