<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div class="alert alert-warning">
      <strong><%= @ticket.errors.count > 1 ? 'A few errors have' : 'An error has' %> occurred:</strong>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
        <%= f.label :subject %><br>
        <%= f.text_area :subject, {:class => 'form-control'} %>
    </div>
    <div class="form-group">
        <%= f.label :content %><br>
        <%= f.text_area :content, {:class => 'form-control'}%>
    </div>

    <% if action_name == 'new' %>
        <!-- this prevent the form overriding the user creator when editing -->
        <%= f.hidden_field :user_id, {:class => 'form-control', value: session[:id]} %>

    <% end %>

    <div class="actions">
      <%= f.submit({:class => 'btn btn-primary'}) %>
    </div>

<% end %>
