<% unless notice.blank? %>
    <div class="alert alert-<%= flash[:type].present? ? flash[:type] : 'info' %>">
      <%= notice %>
    </div>
<% end %>

<div class="row">
  <div class="col-lg-12">

    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
      <tr>
        <th>User</th>
        <th>Subject</th>
        <th>Content</th>
        <th colspan="3">Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @tickets.each do |ticket| %>
          <tr>
            <td><%= link_to ticket.user.fullname, edit_user_path(ticket.user.id) %></td>
            <td><%= link_to ticket.subject, ticket_path(ticket.id) %></td>
            <td><%= ticket.content %></td>
            <td><%= link_to 'Show', ticket %></td>
            <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
            <td><%= link_to 'Destroy', ticket, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>