<% unless notice.nil? %>
    <div class="">
      <p id="notice"><%= notice %></p>
    </div>
<% end %>

<div class="row">
  <div class="col-lg-10">

    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
      <tr>
        <th>User</th>
        <th>Subject</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.user_id %></td>
            <td><%= ticket.subject %></td>
            <td><%= ticket.content %></td>
            <td><%= link_to 'Show', ticket %></td>
            <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
            <td><%= link_to 'Destroy', ticket, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Ticket', new_ticket_path, {class: 'btn btn-primary'} %>
  </div>
</div>