<% unless notice.blank? %>
    <div class="alert alert-<%= flash[:type].present? ? flash[:type] : 'info' %>">
      <%= notice %>
    </div>
<% end %>

<!-- message information -->
<div class="row">
  <div class="col-lg-10">
    <p>
      <strong>From:</strong>
      <%= @ticket.user.email %>
    </p>

    <p>
      <strong>Subject:</strong>
      <%= @ticket.subject %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @ticket.content %>
    </p>

    <p>
      <strong>Status:</strong>
      
      <span class="label label-<%= @ticket.status == 'open' ? 'warning' : 'success' %>">
        <%=  @ticket.status.capitalize %>
      </span>
    </p>

    <%= form_for @ticket do |f| %>
        <div class="btn-group">
          <a href="<%= url_for(edit_ticket_path) %>" class="btn btn-default">Edit</a>
          <%= f.button 'Open', name: 'ticket[status]', value: 'open', class: 'btn btn-default' %>
          <%= f.button 'Close', name: 'ticket[status]', value: 'closed', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>

  <!-- auth codes -->
  <div class="col-lg-2">
    <div class="panel panel-info">
      <div class="panel-heading"><p class="panel-title">Live chat options</p></div>
      <div class="panel-body">
        <% if session[:role] == 'admin' %>
            <p><%= link_to 'Chat as Admin', Rails.configuration.sync.root + '/chat/' + params[:id] + '?email=' + session[:email] + '&auth=' + @ticket.auth_admin %></p>
            <p><strong>Admin auth code:</strong><br /> <%= @ticket.auth_admin %></p>
        <% end %>

        <p><%= link_to 'Chat as Customer', Rails.configuration.sync.root + '/chat/' + params[:id] + '?email=' + @ticket.user.email + '&auth=' + @ticket.auth_client %></p>
        <p><strong>Client auth code:</strong><br /> <%= @ticket.auth_client %></p>
      </div>
    </div>
  </div>
</div>

<!-- message reply -->
<div class="row top-buffer">
  <div class="col-lg-4">
    <%= form_for :message, url: messages_create_url do |f| %>
        <div class="form-group">
          <%= f.text_area :content, {placeholder: 'Send a reply', class: 'form-control', rows: 5} %>
        </div>

        <%= f.hidden_field :source, {value: 'ticket'} %>
        <%= f.hidden_field :user_id, {value: session[:id]} %>
        <%= f.hidden_field :ticket_id, {value: params[:id]} %>

        <div class="form-group">
          <%= f.submit('Reply', {class: 'btn btn-primary'}) %>
        </div>
    <% end %>
  </div>
</div>

<!-- messages -->
<% @messages.each do |message| %>
    <div class="row history">
      <% if message.source == 'chat' %>

          <div class="col-lg-12">
            <blockquote>
              <strong>
                <%= message.user.email %>
              </strong>

              <% if message.user.role == 'admin' %>
                  <span class="label label-success">Admin</span>
              <% end %>

              (<%= message.created_at %>):
              <%= simple_format message.content %>
            </blockquote>
          </div>

      <% else %>

          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong><%= message.user.email %></strong>
                <small><%= message.created_at %></small>
              </div>

              <div class="panel-body">
                <p><%= simple_format message.content %></p>
              </div>
            </div>
          </div>

      <% end %>
    </div>
<% end %>
