<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ticket.user_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @ticket.content %>
</p>

<div class="btn-group">
  <a href="<%= url_for(edit_ticket_path) %>" class="btn btn-default">Edit</a>
  <a href="<%= url_for(tickets_path) %>" class="btn btn-default">Back</a>
</div>