<% unless notice.blank? %>
    <div class="alert alert-<%= flash[:type].present? ? flash[:type] : 'info' %>">
      <%= notice %>
    </div>
<% end %>

<!-- message information -->
<div class="row">
  <div class="col-lg-10">
    <p>
      <strong>User:</strong>
      <%= @ticket.user.username %>
    </p>

    <p>
      <strong>Subject:</strong>
      <%= @ticket.subject %>
    </p>

    <p>
      <strong>Content:</strong>
      <%= @ticket.content %>
    </p>

    <p>
      <strong>Status:</strong>
      
      <span class="label label-<%= @ticket.status == 'open' ? 'warning' : 'success' %>">
        <%=  @ticket.status.capitalize %>
      </span>
    </p>

    <%= form_for @ticket do |f| %>
        <div class="btn-group">
          <a href="<%= url_for(edit_ticket_path) %>" class="btn btn-default">Edit</a>
          <%= f.button 'Open', name: 'ticket[status]', value: 'open', class: 'btn btn-default' %>
          <%= f.button 'Close', name: 'ticket[status]', value: 'close', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>

  <!-- auth codes -->
  <div class="col-lg-2">
    <div class="panel panel-warning">
      <div class="panel-heading"><p class="panel-title">Admin Auth Code</p></div>
      <div class="panel-body"><%= @ticket.auth_admin %></p></div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading"><p class="panel-title">Client Auth Code</p></div>
      <div class="panel-body"><%= @ticket.auth_client %></div>
    </div>
  </div>
</div>

<!-- message reply -->
<div class="row top-buffer">
  <div class="col-lg-4">
    <%= form_for :message, url: messages_create_url do |f| %>
        <div class="form-group">
          <%= f.text_area :content, {placeholder: 'Send a reply', class: 'form-control', rows: 5} %>
        </div>

        <%= f.hidden_field :source, {value: 'ticket'} %>
        <%= f.hidden_field :user_id, {value: session[:id]} %>
        <%= f.hidden_field :ticket_id, {value: params[:id]} %>

        <div class="form-group">
          <%= f.submit('Reply', {class: 'btn btn-primary'}) %>
        </div>
    <% end %>
  </div>
</div>

<!-- messages -->
<% @messages.each do |message| %>
    <div class="row">
      <% if message.source == 'chat' %>

          <div class="col-lg-12">
            <blockquote><strong><%= message.user.username %></strong> (<%= message.created_at %>
              ): <%= message.content %></blockquote>
          </div>

      <% else %>

          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <strong><%= message.user.username %></strong>
                <small><%= message.created_at %></small>
              </div>

              <div class="panel-body">
                <p><%= message.content %></p>
              </div>
            </div>
          </div>

      <% end %>

    </div>
<% end %>
